<header ngClass="headerStyle">
    <div class="fixed top-0 left-0 right-0 flex flex-col gap-y-4 items-center px-8 py-4 sm:flex-row sm:justify-between text-slate-50 max-w-screen-xl mx-auto my-0">
        <nav class="flex gap-6">
            <a routerLink="/" target="_blank" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-teal-400 transition-all">Blog</a>
            <a routerLink="" target="_blank" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-teal-400 transition-all">About Me</a>
            <a routerLink="" target="_blank" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-teal-400 transition-all">Credits</a>
        </nav>
        <label class="flex items-center"><mat-icon>search</mat-icon><input type="search" placeholder="Search..." aria-label="Search input" class="py-1 pl-3 bg-transparent border-y border-x border-slate-50 focus:border-teal-400 focus:outline-none rounded-tr-3xl rounded-bl-3xl rounded-tl-md rounded-br-md transition-all duration-700 sm:max-w-0 sm:hover:max-w-xs sm:focus:max-w-xs"></label>
    </div>
</header>