<header [ngClass]="headerStyle" class="fixed top-0 left-0 right-0 px-8 py-4 text-slate-50 backdrop-blur-md shadow-sm z-10">
    <div class="flex flex-col gap-y-4 items-center sm:flex-row sm:justify-between max-w-screen-xl mx-auto my-0">
        <nav class="flex gap-6">
            <a routerLink="/" routerLinkActive="text-cyan-400 scale-125" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-cyan-400 transition-all">Blog</a>
            <a routerLink="/about-me" routerLinkActive="text-cyan-400 scale-125" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-cyan-400 transition-all">About Me</a>
            <a routerLink="/credits" routerLinkActive="text-cyan-400 scale-125" rel="noopener noreferrer" class="no-underline hover:scale-125 hover:text-cyan-400 transition-all">Credits</a>
        </nav>
        <label class="flex items-center">
            <mat-icon>search</mat-icon>
            <input type="search" placeholder="Search..." aria-label="Search input" class="py-1 pl-3 bg-transparent border-y border-x border-slate-50 focus:border-cyan-400 focus:outline-none rounded-tr-3xl rounded-bl-3xl rounded-tl-md rounded-br-md transition-all duration-700 sm:max-w-0 sm:hover:max-w-xs sm:focus:max-w-xs" />
        </label>
    </div>
</header>