<aside class="grid place-items-center gap-4">
    <h3 class="before:block before:w-16 before:h-px before:bg-slate-600 after:block after:w-16 after:h-px after:bg-slate-600 flex items-center gap-x-2 text-lg font-bold [text-wrap:nowrap] font-saira tracking-wider">
        Social Media
    </h3>
    <div class="flex justify-center gap-6">
        <a href="https://www.linkedin.com/in/aline-bevilacqua/" target="_blank" aria-label="Linkedin link">
            <i class="fi fi-brands-linkedin text-3xl hover:text-cyan-400 transition-colors"></i>
        </a>
        <a href="https://github.com/aliine98" target="_blank" aria-label="Github link">
            <i class="fi fi-brands-github text-3xl hover:text-cyan-400 transition-colors"></i>
        </a>
        <a href="https://aliine98.github.io" target="_blank" aria-label="Portfolio link">
            <i class="fi fi-sr-site-alt text-3xl hover:text-cyan-400 transition-colors"></i>
        </a>
    </div>
</aside>