<div class="bg-slate-950 flex justify-center items-center min-h-screen">
    <div class="gap-10 md:gap-20 flex-col sm:flex-row flex flex-wrap text-slate-50 md:px-10 max-w-screen-xl mx-auto">
        <div>
            <h2 class="text-xl font-bold">Hero Image:</h2>
            <p>By <a href="https://unsplash.com/@joshua_j_woroniecki?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Joshua Woroniecki</a> on <a href="https://unsplash.com/photos/blue-green-and-pink-books-bRuaLZ302lY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Unsplash</a></p>
        </div>
        <div>
            <h2 class="text-xl font-bold">Layout references:</h2>
            <ul>
                <li><a href="https://dribbble.com/shots/3415341-Travel-Blog" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Courtney Vandyke</a></li>
                <li><a href="https://dribbble.com/shots/3370034-Breakfast-Blog" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Melanie Wong</a></li>
                <li><a href="https://dribbble.com/shots/3896808-Frame-io-Blog-Redux" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Alex Sailer</a></li>
                <li><a href="https://dribbble.com/shots/19732596-Corellium-Website-Blog-Concept" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Hayden Bleasel</a></li>
            </ul>
        </div>
        <div>
            <h2 class="text-xl font-bold">Icons:</h2>
            <ul>
                <li><a href="https://material.angular.io/" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Angular Material</a></li>
                <li><a href="https://www.flaticon.com/uicons/interface-icons" target="_blank" rel="noopener" class="underline hover:text-cyan-400 transition-all">Flaticon</a></li>
            </ul>
        </div>
    </div>
</div>