<aside class="grid place-items-center gap-5">
    <h3 class="before:block before:w-16 before:h-px before:bg-slate-600 after:block after:w-16 after:h-px after:bg-slate-600 flex items-center gap-x-2 text-lg font-bold [text-wrap:nowrap] font-saira tracking-wider">
        Newsletter
    </h3>
    <form class="relative">
        <input type="email" name="email" class="p-3 border-cyan-400 bg-transparent rounded-tr-3xl rounded-bl-3xl rounded-tl-md rounded-br-md border-x border-y w-64 outline-offset-2" placeholder="email@email.com" required>
        <button type="submit" class="bg-cyan-400 hover:text-slate-50 hover:bg-cyan-700 transition-all rounded-tr-3xl rounded-br-md absolute right-0 top-0 bottom-0 p-3">Subscribe</button>
    </form>
</aside>