<div class="bg-black">
    <div class="bg-[url('./assets/tech-unsplash.jpg')] bg-[length:100%_100%] max-w-screen-xl mx-auto my-0 bg-center bg-no-repeat grid place-items-center text-slate-50 py-[calc(80vh/2)]">
        <h1 class="pb-10 text-6xl font-bold text-center font-saira">Your daily tech talks</h1>
        <p class="-translate-y-5 font-light">{{liveDate}}</p>
        <div class="animate-bounce">
            <mat-icon class="scale-150" fontIcon="keyboard_double_arrow_down"></mat-icon>
        </div>
    </div>
</div>