<div class="grid grid-cols-3 grid-rows-3 px-4">
    <img [src]="highlightedNews?.cover_image ?? 'https://picsum.photos/200/300'" alt="" class="h-80 row-start-1 row-end-4 col-start-1 col-end-4 sm:col-end-3">
    <div class="row-start-2 row-end-4 col-start-1 col-end-4 sm:col-start-2 bg-white drop-shadow-xl p-6">
        <a routerLink="/{{highlightedNews.id}}" routerLinkActive="router-link-active">
            <h2 class="font-bold text-2xl font-saira mb-4">{{highlightedNews.title}}</h2>
        </a>
        <p>{{highlightedNews.user.name}}</p>
        <p>{{highlightedNews.readable_publish_date}}</p>
    </div>
</div>