<div class="bg-slate-950 pt-[15vh] sm:pt-[10vh] md:pt-0">
    <div class="min-h-screen flex flex-col w-full gap-6 items-center justify-center md:flex-row text-slate-50 md:px-10 max-w-screen-xl mx-auto">
        <img src="./assets/perfil-photo.png" alt="Perfil photo" class="rounded-full" width="200" height="200">
        <p class="md:text-center w-3/4">I am a dedicated and determined professional who enjoys learning a lot and always aims to deliver the best. I started studying programming through the Potência Tech site powered by iFood, and later had the opportunity to participate in the Oracle Next Education program, a partnership between Alura and Oracle. Since then, I have fallen in love with programming because it stimulates my creativity, and I love how I can solve one thing in various different ways! I continue to study regularly and stay tuned for opportunities for free courses and bootcamps.</p>
    </div>
</div>